@use "../variables.module.scss";

.info_section {
  background-color: #002147;
  padding: 20px;
}

.text_style {
  color: white;
}

// .horizontal-line {
//   width: 6rem;
//   height: 0.18rem;
//   color: #20ea3c;
//   background-color: #20ea3c;
//   margin: 0;
// }
